<div class="navbar flex flex-col gap-4 py-4 px-10">
  <div class="flex justify-between items-center">
    <div class="flex gap-24 items-center">
      <div>
        <img src="../../../assets/logo.png" alt="Blink Tickets" width="150px" />
      </div>
      <div
        class="lg:grid hidden grid-cols-12 divide-x px-4 py-2 gap-12 bg-[#FFF9F9] border border-gray-200 rounded-lg"
      >
        <div class="flex flex-col gap-1 col-span-5">
          <p class="text-[#00000099] font-bold uppercase">Location</p>
          <p class="text-base">Hayward, Oakland, +2 more...</p>
        </div>
        <div class="flex flex-col gap-1 col-span-3 ps-12">
          <p class="text-[rgba(0,0,0,0.6)] font-bold uppercase">Date</p>
          <p class="text-base text-[rgba(0,0,0,0.24)]">Select dates</p>
        </div>
        <div class="flex flex-col gap-1 col-span-4 px-12">
          <p class="text-[#00000099] font-bold uppercase">Event type</p>
          <p class="text-base text-[rgba(0,0,0,0.24)]">Select event types</p>
        </div>
      </div>
    </div>
    <div>
      <i class="far fa-user text-xl"></i>
    </div>
  </div>

  <div
    class="lg:hidden grid grid-cols-8 divide-x px-4 py-2 gap-6 bg-[#FFF9F9] border border-gray-200 rounded-lg"
  >
    <div class="flex flex-col gap-1 col-span-3">
      <p class="text-[#00000099] font-bold uppercase">Location</p>
      <p class="text-base">Hayward, Oakland, +2 more...</p>
    </div>
    <div class="flex flex-col gap-1 col-span-2 sm:ps-12 ps-4">
      <p class="text-[rgba(0,0,0,0.6)] font-bold uppercase">Date</p>
      <p class="text-base text-[rgba(0,0,0,0.24)]">Select dates</p>
    </div>
    <div class="flex flex-col gap-1 col-span-3 sm:px-12 px-6">
      <p class="text-[#00000099] font-bold uppercase">Event type</p>
      <p class="text-base text-[rgba(0,0,0,0.24)]">Select event types</p>
    </div>
  </div>
</div>
