.spotlight-cover {
    background-image: url('../../../assets/Spotlight cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // height: 520px;
    height: 100%;
}