<div class="bg-[#E00046] mt-20">
  <div class="flex md:flex-row flex-col items-center gap-10 lg:px-[100px] px-10 py-16">
      <img src="../../../assets/banner.png" alt="" class="h-full w-44" />
    <div class="flex flex-col gap-4 text-white">
      <p class="text-3xl font-medium">San Francisco Dairies</p>
      <p>
        San Francisco is famous for its diverse events, blending culture, tech,
        and entertainment. Must-attend events include Dreamforce and TechCrunch
        Disrupt for tech enthusiasts, the Pride Parade, and the Chinese New Year
        Festival for cultural vibrancy. Outside Lands draws music lovers, while
        Eat Drink SF caters to foodies. These events highlight San
        Francisco&#39;s innovative and inclusive spirit, making them popular
        with locals and visitors alike.
      </p>
      <div class="flex gap-2">
        <button
          type="button"
          class="font-proxima font-bold text-xs w-fit text-red-500 bg-white rounded-lg p-2"
        >
          Tech & Innovation
        </button>
        <button
          type="button"
          class="font-proxima font-bold text-xs w-fit text-red-500 bg-white rounded-lg p-2"
        >
          Music & Arts
        </button>
        <button
          type="button"
          class="font-proxima font-bold text-xs w-fit text-red-500 bg-white rounded-lg p-2"
        >
          Food & Drink
        </button>
        <button
          type="button"
          class="font-proxima font-bold text-xs w-fit text-red-500 bg-white rounded-lg p-2"
        >
          Cultural Celebrations
        </button>
      </div>
    </div>
  </div>
</div>
